body::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'san-serif';
    user-select: none;
}

/*CSS FOR NAVIGATION MENU*/
.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    right: 2rem;
    top: 1.5rem;
    z-index: 1100;
}

nav {
    background-color: white;
    padding: 1.3rem 3rem;
    border: white;
    border-bottom: #61460D;
    position: sticky;
    box-shadow: 0 0 5px grey;
    z-index: 100;
}

.nav_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: 0.5s;
}

.nav-left,
.nav-center,
.nav-right {
    display: flex;
    align-items: center;
    gap: 2rem;
    transition: transform 0.3s ease;
}

.nav_links li,
.nav_links a {
    color: #3f396d;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.nav-left:hover {
    transform: scale(1.2);
}

.link:hover {
    transform: scale(1.2);
}

.cta button {
    background-color: #ffba2f;
    color: white;
    border: none;
    padding: 0.5rem 2rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 2px grey;
    border-radius: 40px;
    border-top-right-radius: 0px;
    transition: 0.5s;
}

.cta button:hover {
    border-top-right-radius: 40px;
}

.span {
    color: #ffba2f;
}

/* DROPDOWN MENU ON ABOUT ME*/
#aboutDropdown {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 15px;
    margin-top: 10px;
    box-shadow: 0 0 2px grey;
    border-radius: 9px;
    width: 24rem;
    z-index: 1000;
    display: block;
}

#aboutDropdown.show {
    display: block;
    opacity: 1;
    pointer-events: auto;
}

.dropdown li {
    margin: 15px 50px;
}

.dropdown li a {
    text-decoration: none;
    text-align: right;
    color: #3f396d;
}

.dropdown-toggle {
    position: relative;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffba2f;
    box-shadow: 0 0 2px grey;
}

.dropdown li a:hover {
    color: #ffba2f;
}

/* PROJECTS LANDING PAGE */
.container {
    padding: 50px 10% 120px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 20px;
    background: linear-gradient(33deg, rgba(242, 242, 255, 1) 0%, rgba(235, 249, 255, 1) 100%);
}

hr {
    box-shadow: 0 0 5px grey;
}

.text {
    margin: auto;
}

.text h2 {
    font-size: 30px;
    color: #3f396d;
}

.text h1 {
    font-size: 50px;
    margin-bottom: 5px;
    color: #6f34fe;
}

.text p {
    line-height: 1.9;
    margin-bottom: 20px;
    color: #6c757d;
}

.picture-container {
    padding: 80px 0 70px;
}

.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

.tool {
    border: 1px solid #25D366;
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    font-weight: 500;
    cursor: pointer;
    transition: all .45s ease;
}

.view-button {
    border: none;
    background-color: #ffba2f;
    color: white;
    padding: 5px 19px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .45s ease;
    font-size: 15px;
    font-weight: 500;
    margin-left: 3px;
}

.view-button:hover {
    transform: scale(1.1);
}

.tool:hover {
    background-color: #25D366;
}

/* More Projects */
.more-projects {
    padding: 120px 10% 80px;
    background-color: #fdfdfd;
}

.project-title {
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    color: #3f396d;
}

.more-proj {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 20px;
}

.more-projects img {
    width: 100%;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}

.box {
    background-color: white;
    padding: 25px 25px;
    border-radius: 8px;
    text-align: center;
    transition: all .45s ease;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25)
}

.box:hover {
    transform: translateY(-10px);
}

.box h3 {
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: 8px;
    color: #6f34fe;
}

.box p {
    font-size: 13px;
    margin-bottom: 10px;
}

.box button {
    border: none;
    background-color: #ffba2f;
    color: white;
    padding: 5px 19px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: all .45s ease;
    margin-left: 3px;
}

.box button:hover {
    transform: scale(1.1);
}

.tools {
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #25D366;
    color: black;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 10px;
    font-weight: 500;
    transition: all .45s ease;
}

.tools:hover {
    background-color: #25D366;
}

footer {
    font-size: 11px;
    text-align: center;
    padding: 20px;
    background-color: #211e39;
    color: white;
}

.anim {
    opacity: 0;
    transform: translateY(30px);
    animation: up 0.4s ease-in 1 forwards;
}

/* FOR APPEAR ANIMATION OF PROJECTS */
@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes up {
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.box {
    animation: appear 0.8s linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

/* FOR DESKTOP*/
@media (max-width: 1200px) {
    .box .porfolio-text {
        margin-bottom: 30px;
    }
}

/* FOR LAPTOPS */
@media (max-width: 1024px) {
    .box img {
        height: 100px;
    }

    .box .text1 {
        font-size: 18px;
    }

    .box p {
        font-size: 10px;
        font-weight: 500;
    }

    .box .strava-text {
        margin-top: 14px;
    }

    .box .porfolio-text {
        margin-bottom: 25px;
    }

    .box .tools {
        font-size: 7px;
        font-weight: 500;
    }

    .box button {
        font-size: 8px;
        font-weight: 500;
    }
}

/* FOR TABLETS */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav-center,
    .nav-right {
        position: fixed;
        left: -200%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #e8f2ff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        margin: 16px 0;
        ;
    }

    .bg-wrap {
        height: 30rem;
    }

    .nav-left {
        transform: scale(0.8);
    }

    .nav-left:hover {
        transform: scale(0.9);
    }

    .container {
        grid-template-columns: 1fr;
    }

    .picture-container {
        text-align: center;
    }

    .text {
        justify-content: center;
        text-align: center;
    }

    .more-projects {
        padding: 150px 20% 80px;
    }

    .more-proj {
        grid-template-columns: 1fr;
    }

    .more-projects img {
        width: 100%;
        height: 100%;
    }

    .box p {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .box button {
        margin-top: 4px;
        font-size: 12px;
    }

    .box .tools {
        font-size: 10px;
    }

    footer {
        font-size: 9px;
    }
}

/* FOR MOBILE PHONES */
@media (max-width: 480px) {
    .text h2 {
        font-size: 20px;
    }

    .text h1 {
        font-size: 40px;
    }

    .text p {
        font-size: 15px;
    }

    .more {
        font-size: 10px;
    }

    .picture-container {
        padding: 40px 0 40px;
    }

    .more-projects {
        padding: 100px 10% 100px;
    }

    .project-title h2 {
        font-size: 25px;
    }

    footer {
        font-size: 9px;
    }
}